<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://wowraider.ru/splash.cdiml" defaultlocale="ru" viewmodes="minimized" version="0.2a">
	<name short="WowRaider Speeddial">WoW Raider Speed Dial Extension</name>
	<description>Это расширение позволяет показывать последние новости с сайта http://wowraider.ru/</description>
	<author href="http://aggardo.ru/">Borro</author>
	<icon src="images/icon.png"/>
    <feature name="opera:speeddial" required="true">
        <param name="url" value="http://wowraider.ru/"/>
    </feature>
	<access origin="http://wowraider.ru"/>
	<preference name="feed" value="news" />
	<preference name="interval" value="3600" />
</widget>
