* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	height: 100%;
}

/* Use display:table and display:table-cell
so that we can use vertical-align:middle */
body {
	background: #022f8c;
	font-family: Calibri, sans-serif;
	color: #fff;
	display: table;
	height: 100%;
	width: 100%;
	font-size: 0.8em;
}

a {
	color: #fff;
	text-decoration: none;
}

div.gradient
{
	width: 100%;
	position: absolute;
	bottom: 0px;
	height: 20px;
	background-image: -o-linear-gradient(top,  rgba(255, 255, 255, 0),  rgba(2, 47, 140, 1));
}

div.logo {
	float: right;
	text-align: right;
}

div.member {
	display: none;
	padding-right: 25px;
	vertical-align: top;
}

.online {
	color: #0f0;
	font-weight: bold;
	display: none;
}

.offline {
	color: #f00;
	font-weight: bold;
}

h1 {
	padding-left: 5px;
	font-size: 1.4em;
}

.blues, .blues a {
	color: #00C0FF;
}

.plf table {
	width: 60%;
}
.plf td {
	padding: 1px 5px;
}

.glf, .slf {
	 overflow: hidden;
}
.glf .content, .slf .content {
	padding-left: 5px;
}

.glf .content div, .slf .content div {
	float: left;
	font-weight: bold;
	width: 55px;
}

div.search {
	float: left;
}

ul {
	padding-left: 20px;
}