* {
  margin: 0 0 0 5px;
  padding: 0;
}
html {
  height: 100%;
}

/* Use display:table and display:table-cell
so that we can use vertical-align:middle */
body {
  background: #022f8c url('images/icon_64.png') right top no-repeat;
  font-family: Calibri,sans-serif;
  color: #fff;
  display: table;
  height: 100%;
  width: 100%;
}
h1 {
	font-size: 1.5em;
}

.blue {
	color: #00C0FF;
}

.mini {
	float: left;
}
div ul li.inline {
	margin: 0;
	padding: 0;
	display: inline;
	white-space: nowrap;
}