/**
 * css, в котором описывается расположение элементов,
 * относительно размеров окошка виджета 
 */
img.logo, img.logo-100, img.logo-80, img.logo-50 {
	display: none;
}

@media only screen and (min-width:50px) and (max-width:119px) {
	* {
		display: none;
	}
	html, body {
		background: #022f8c url('/images/logo-50.png') center center no-repeat;
		display: block;
	}
		
}

@media only screen and (min-width:120px) and (max-width:160px) {
	* {
		display: none;
	}
	html, body {
		background: #022f8c url('/images/logo-80.png') center center no-repeat;
		display: block;
	}
		
}


@media only screen and (min-width:161px) and (max-width:229px) {
	ul {
		padding: 0;
	}
}

@media only screen and (min-width:169px) and (max-width:249px) {
	img.logo-50 {
		display: block;
	}
	div.member {
		padding-right: 2px;
	}
	
	.output {
		padding-left: 2px;
	}
	h1 {
		padding: 0;
	}
	
}
@media only screen and (min-width:161px) and (max-width:310px) {
	.glf .title, .slf .title {
		display: none;
	}
}

@media only screen and (min-width:311px) {
	.glf .content div, .slf .content div {
		width: 130px;
	}
}

@media only screen and (min-width:250px) and (max-width:299px) {
	img.logo-80 {
		display: block;
	}
}
@media only screen and (min-width:300px) and (max-width:349px) {
	img.logo-100 {
		display: block;
	}
}
@media only screen and (min-width:360px) and (max-width:425px) {
	.icons {
		width: 200px;
	}
}
@media only screen and (min-width:350px) {
	img.logo {
		display: block;
	}
}